In [1]:
import numpy as np
import pandas as pd

In [37]:
print(np.__version__)

1.21.5

In [42]:
data=pd.read_csv("data1.csv")
print(data.shape[0])

11914

In [3]:
print(data[['Make','Popularity']])

          Make  Popularity
0          BMW        3916
1          BMW        3916
2          BMW        3916
3          BMW        3916
4          BMW        3916
...        ...         ...
11909    Acura         204
11910    Acura         204
11911    Acura         204
11912    Acura         204
11913  Lincoln          61

[11914 rows x 2 columns]

In [48]:
data=data.filter(items=['Make','Popularity'])
data

          Make  Popularity
0          BMW        3916
1          BMW        3916
2          BMW        3916
3          BMW        3916
4          BMW        3916
...        ...         ...
11909    Acura         204
11910    Acura         204
11911    Acura         204
11912    Acura         204
11913  Lincoln          61

[11914 rows x 2 columns]

In [49]:
data=data.loc[(data['Make'].str.contains('Chevrolet', case=False))| (data['Make'].str.contains('Ford', case=False)) | (data['Make'].str.contains('Volkswagen', case=False))| (data['Make'].str.contains('Toyota', case=False))]
print(data)

         Make  Popularity
479    Toyota        2031
480    Toyota        2031
481    Toyota        2031
482    Toyota        2031
483    Toyota        2031
...       ...         ...
11827  Toyota        2031
11828  Toyota        2031
11829  Toyota        2031
11830  Toyota        2031
11831  Toyota        2031

[3559 rows x 2 columns]

In [50]:
grouped=data.groupby(['Make']).groups

In [51]:
print(data.groupby(['Make','Popularity']).size())

Make        Popularity
Chevrolet   1385          1123
Ford        5657           881
Toyota      2031           746
Volkswagen  873            809
dtype: int64

In [9]:
df=pd.read_csv("data1.csv")
df = df.loc[df['Make'].str.contains('Audi')]

In [10]:
print(len(df.Model.unique()))

34

In [28]:
df=pd.read_csv("data1.csv")
x=df.isnull().sum()

c=[i for i in x if i is not 0]
print(len(c))

5

<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Fresher\AppData\Local\Temp\ipykernel_18232\410324323.py:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  c=[i for i in x if i is not 0]

In [29]:
df["Engine Cylinders"].median()

6.0

In [30]:
df["Engine Cylinders"].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

In [31]:
df["Engine Cylinders"].fillna(df["Engine Cylinders"].mode())

0        6.0
1        6.0
2        6.0
3        6.0
4        6.0
        ...
11909    6.0
11910    6.0
11911    6.0
11912    6.0
11913    6.0
Name: Engine Cylinders, Length: 11914, dtype: float64

In [32]:
df["Engine Cylinders"].median()

6.0

In [33]:
for i in range(len(df)):
    if df.iloc[i]["Make"]=="Lotus":
        print(df.iloc[i][["Engine HP","Engine Cylinders"]])

Engine HP           189.0
Engine Cylinders      4.0
Name: 3912, dtype: object
Engine HP           218.0
Engine Cylinders      4.0
Name: 3913, dtype: object
Engine HP           189.0
Engine Cylinders      4.0
Name: 3914, dtype: object
Engine HP           189.0
Engine Cylinders      4.0
Name: 3915, dtype: object
Engine HP           218.0
Engine Cylinders      4.0
Name: 3916, dtype: object
Engine HP           189.0
Engine Cylinders      4.0
Name: 3917, dtype: object
Engine HP           217.0
Engine Cylinders      4.0
Name: 3918, dtype: object
Engine HP           217.0
Engine Cylinders      4.0
Name: 3919, dtype: object
Engine HP           350.0
Engine Cylinders      8.0
Name: 4216, dtype: object
Engine HP           350.0
Engine Cylinders      8.0
Name: 4217, dtype: object
Engine HP           350.0
Engine Cylinders      8.0
Name: 4218, dtype: object
Engine HP           400.0
Engine Cylinders      6.0
Name: 4257, dtype: object
Engine HP           400.0
Engine Cylinders      6.0
Name: 4258, dtype: object
Engine HP           276.0
Engine Cylinders      6.0
Name: 4259, dtype: object
Engine HP           276.0
Engine Cylinders      6.0
Name: 4260, dtype: object
Engine HP           276.0
Engine Cylinders      6.0
Name: 4261, dtype: object
Engine HP           345.0
Engine Cylinders      6.0
Name: 4262, dtype: object
Engine HP           345.0
Engine Cylinders      6.0
Name: 4263, dtype: object
Engine HP           276.0
Engine Cylinders      6.0
Name: 4264, dtype: object
Engine HP           345.0
Engine Cylinders      6.0
Name: 4265, dtype: object
Engine HP           276.0
Engine Cylinders      6.0
Name: 4266, dtype: object
Engine HP           345.0
Engine Cylinders      6.0
Name: 4267, dtype: object
Engine HP           276.0
Engine Cylinders      6.0
Name: 4268, dtype: object
Engine HP           257.0
Engine Cylinders      4.0
Name: 4292, dtype: object
Engine HP           240.0
Engine Cylinders      4.0
Name: 4293, dtype: object
Engine HP           240.0
Engine Cylinders      4.0
Name: 4294, dtype: object
Engine HP           240.0
Engine Cylinders      4.0
Name: 4295, dtype: object
Engine HP           257.0
Engine Cylinders      4.0
Name: 4296, dtype: object
Engine HP           257.0
Engine Cylinders      4.0
Name: 4297, dtype: object

In [34]:
val = df[df['Make']=='Lotus'][['Engine HP','Engine Cylinders']]

In [22]:
x = np.array(val.drop_duplicates())

In [23]:
xtx = np.dot(x.T , x)
xtx

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

In [24]:
inverted = np.linalg.inv(xtx)

In [25]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [26]:
w = np.dot(np.dot(inverted,x.T),y)

In [27]:
w[0]

4.594944810094576

In [52]:
hi = df.groupby(['Make','Popularity']).sum()

In [53]:
hi = pd.DataFrame(hi)

In [54]:
bye = [i[1] for i in hi.index]
bye.remove(5657)

In [55]:
max(bye)

3916

In [56]:
hi

,,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,MSRP
Make,Popularity,,,,,,,
Acura,204,506536,61689.0,1344.0,912.0,7084,5025,8791672
Alfa Romeo,113,10077,1185.0,20.0,10.0,170,120,308000
Aston Martin,259,187211,45042.0,988.0,200.0,1757,1165,18405665
Audi,3105,660012,91084.0,1823.0,1138.0,9454,6424,17532293
BMW,3916,672792,109187.0,1990.0,1056.0,9768,6927,20556619
Bentley,520,148866,39505.0,720.0,198.0,1399,855,18290530
Bugatti,820,6025,3003.0,48.0,6.0,42,24,5271671
Buick,155,393961,42972.0,1042.0,752.0,5282,3666,5528496
Cadillac,1624,799221,131927.0,2554.0,1430.0,10019,6890,22323833
Chevrolet,1385,2257328,275868.0,6623.0,3797.0,28991,21361,31837483
Chrysler,1013,375582,42849.0,1046.0,678.0,4931,3321,4997194
Dodge,1851,1255406,153004.0,3918.0,2010.0,13988,10057,14016177
FIAT,819,124994,8470.0,236.0,180.0,2315,1900,1405555
Ferrari,2774,138519,35325.0,676.0,136.0,1085,729,16437100
Ford,5657,1770582,211009.0,5211.0,2981.0,21150,15823,24138754
GMC,549,1034700,133820.0,3324.0,1800.0,11023,8144,15704049
Genesis,21,6051,1042.0,20.0,12.0,76,49,139850
HUMMER,130,34159,4441.0,103.0,68.0,294,230,619895
Honda,2202,904025,87500.0,2092.0,1588.0,14626,11424,11976779
Hyundai,1439,609847,61181.0,1414.0,1060.0,9209,6770,7452902
Infiniti,190,663617,102322.0,2030.0,1170.0,8177,5883,13990090
Kia,1720,465145,46743.0,1060.0,910.0,7081,5509,5846650
Lamborghini,1158,104662,31932.0,566.0,104.0,937,599,17241500
Land Rover,258,287812,46060.0,876.0,542.0,3164,2321,9698720
Lexus,454,406348,56038.0,1262.0,750.0,5227,4103,9604912
Lincoln,61,329898,44446.0,996.0,632.0,4016,2934,7025732
Lotus,613,58314,8003.0,152.0,58.0,770,544,2006460
Maserati,238,116741,24406.0,426.0,162.0,1177,773,6624047
Maybach,67,32175,9448.0,192.0,64.0,256,160,8739550
Mazda,586,849538,72753.0,1860.0,1464.0,11781,8987,8476659
McLaren,416,10071,3052.0,40.0,10.0,111,78,1199025
Mercedes-Benz,617,709712,123264.0,2369.0,1183.0,8765,6418,25231109
Mitsubishi,436,427952,36767.0,983.0,766.0,5867,4667,4524234
Nissan,2009,1122921,131477.0,2978.0,1916.0,15512,12206,15949555
Oldsmobile,26,299642,26620.0,836.0,536.0,3935,2641,1731381
Plymouth,535,163628,10788.0,360.0,263.0,2293,1705,256078
Pontiac,210,372577,35395.0,1020.0,594.0,5035,3475,3593808
Porsche,1715,273820,53420.0,834.0,360.0,3450,2376,13820646
Rolls-Royce,86,62388,15114.0,368.0,102.0,593,367,10885050
Saab,376,222675,24478.0,504.0,386.0,2925,1972,3042899
Scion,105,120805,9266.0,240.0,180.0,1938,1519,1195950
Spyker,2,6027,1200.0,24.0,6.0,54,39,639970
Subaru,640,514879,50511.0,1118.0,966.0,7343,5578,6355841
Suzuki,481,704215,56261.0,1596.0,1342.0,9138,6990,6285430
Tesla,1391,36275,0.0,0.0,52.0,1781,1694,1534600
Toyota,2031,1501358,175694.0,4170.0,2680.0,19734,16080,21656392
Volkswagen,873,1628365,153514.0,3514.0,2607.0,25992,19077,22734826
Volvo,870,564265,64903.0,1327.0,1100.0,7644,5503,8020066

In [57]:
any(pd.isnull(df["Market Category"]))

True